/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Main Styles */
header {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}

.container {
    display: flex;
    height: calc(100% - 4rem);
}

aside {
    width: 20%;
    padding: 1rem;
    border-right: 1px solid #dee2e6;
    background-color: #f1f3f5;
}

main {
    flex: 1;
    padding: 1rem;
}

#projects h2, #current-project-title {
    margin-bottom: 1rem;
}

#new-project-btn, #new-task-btn, #add-new-project-form-button, #add-new-task-form-button, #add-checklist-item {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}

#project-list, #task-list {
    margin-top: 1rem;
}

#task-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}


.project-item, .task-item {
    
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    background-color: white;
}

.project-item {
    padding: 0.5rem;
}

.task-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-title, .task-title {
    font-weight: bold;
}

.task-title {
    border-bottom: 1px solid #dee2e6;
    padding: 1rem 0;
    background-color: #007bff;
    color: #ffffff;
}

.task-title, .task-description, .task-due-date, .task-priority, .task-status, .task-completed, .task-checklist {
    width: 100%;
    text-align: center;
    
}

.task-description, .task-due-date, .task-priority, .task-status, .task-completed, .task-checklist {
    
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.delete-task-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.project-description, .task-description, .task-due-date, .task-priority, .task-status, .task-completed {
    margin-top: 0.25rem;
}

.delete-project-btn, .delete-task-btn, .display-tasks-btn {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    
}

.delete-project-btn, .delete-task-btn {
    background-color: #dc3545;
    color: white;
    margin-left: 0.5rem;
}

.display-tasks-btn {
    border: 1px solid #007bff;
}

#add-project-form-wrapper, #add-new-task-form-wrapper {
    padding: 1rem;
    border-left: 1px solid #dee2e6;
    background-color: #f1f3f5;
    transition: display 0.5s;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 0.5rem;
}

form input, form select {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-top: 0.25rem;
}

#task-checklist {
    margin-top: 0.5rem;
}

#checklist-items {
    margin-top: 0.5rem;
}

#checklist-items li {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}

#checklist-items li input[type="checkbox"] {
    margin-right: 0.5rem;
}